.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.loading-bar {
    padding: 7px 80px;
    margin-top: 10px;
    border-radius: 3px;
    background-color:rgb(255, 103, 64);
    animation: glow 2s ease infinite;
}

@keyframes glow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.loading-bar > h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}