.game-setup, .end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.game-setup > section {
  background-color: #2c2c2c;
  padding: 0 10px 9px 10px;
  border-radius: 0.25rem;
  margin-top: 20px;
  width: 560px;
}

.game-setup > section > h3 {
  margin-block-start: 0.53em;
  margin-block-end: 0;
  width: 100%;
  border-bottom: 1px solid hsla(0,0%,50.2%,.5);
}

.game-setup > section > button:last-child {
  float: right;
  margin-top: 10px;
}

.game-setup > section > button:last-child:disabled {
  cursor: initial;
  opacity: 0.2;
}

.game-setup > section > button:last-child:disabled:hover {
  cursor: initial;
  background-color: #4f4f4f;
}

@media only screen and (max-width: 1900px) {
  .game-setup > section {
    width: 530px;
  }
}

@media only screen and (max-width: 550px) {
  .game-setup > section {
    width: 95%;
  }
}

.filter-header {
  padding-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-header div {
  display: flex;
  align-items: center;
}

.filter-disabled {
  opacity: 0.2;
}

.filter-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.7);
}

.filter-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4f4f4f;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
}

.filter-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

.filter-switch input:checked + .filter-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.tagslist-tags > *, .tagslist-deselected, .game-overlay button, .results button {
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 2px 7px;
  margin: 2px;
  background-color: #4f4f4f;
  border-radius: 0.25rem;
  transition: all .1s ease-out;
}

.tagslist-tags > *:hover, .tagslist-selected, .game-overlay button:hover, .results button:hover {
  background-color: rgb(255, 103, 64);
}

.add-list {
  position: relative;
  margin-bottom: 10px;
}

.add-list input {
  width: 100%;
  padding: 5px 8px;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  background-color: #2c2c2c;
  color: white;
  border-radius: 1px;
  transition: all .2s ease-out;
  outline: #4f4f4f 1px solid;
}

.add-list button {
  padding: 5px 7px !important;
  position: absolute;
  right: 0;
  background-color: #4f4f4f !important;
}

.add-list button:hover {
  background-color: rgb(255, 103, 64) !important;
}

.add-list button svg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.lists > div {
  background-color: rgb(255, 103, 64);
  padding: 4px 7px;
  border-radius: 0.25rem;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lists > div > span {
  height: 1.5rem;
}

.lists > div > span:last-child {
  cursor: pointer;
}

.game-setup button, .results button {
  font-family: inherit;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 2px 7px;
  margin: 2px;
  background-color: #4f4f4f;
  border-radius: 0.25rem;
  transition: all .1s ease-out;
  border: none;
}

.game-setup button:hover {
  background-color: #3f3f3f;
}

.game-setup button:active {
  background-color: #383838;
}

.total-rounds {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  /* padding: 0 0.3rem; */
  margin: 0 0.2rem;
  background-color: #4f4f4f;
  color: white;
  border-radius: 1px;
  width: 50px;
  text-align: right;
  outline: rgb(255, 103, 64, 0) 1px solid;
  transition: all .2s ease-out;
}

.total-rounds:focus, .game-overlay input:focus, .add-list input:focus {
  outline: rgb(255, 103, 64) 1px solid !important;
}

.game {
  height: 100vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1900px) {
  .game {
    width: 60%;
  }
}

@media only screen and (max-width: 1400px) {
  .game {
    width: 80%;
  }
}

.manga-page-div {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  background-color: #2c2c2c;
}

.manga-page > *, .manga-page-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

.manga-page-img-hidden {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.manga-page-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44, 0.9);
  color: white;
  padding: 0px 14px 10px 14px;
  min-width: 220px;
  max-width: 80%;
  border-radius: 4px;
}

.manga-page-modal > h3 {
  border-bottom: 1px solid hsla(0,0%,50.2%,.5);
  width: 99%;
  text-align: center;
}

.manga-page-modal-title{
  color: rgb(255, 103, 64);
  font-weight: bold;
  text-align: center;
}

.manga-page-modal .icon-holder a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.manga-page-modal .icon-holder svg {
  width: 1rem;
  height: 1rem;
  color: white;
  margin-left: 3px;
  transform: translateY(-1px);
}

.game-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  width: 480px;
  background-color: #2c2c2c;
  border-radius: 4px;
  margin: 20px;
}

.game-overlay > *:nth-child(2) {
  margin-bottom: 10px !important;
}

.game-overlay button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

.game-overlay button:disabled, .game-overlay button[disabled] {
  cursor: initial;
  background-color: #4f4f4f;
}

.game-overlay h3 {
  width: 97%;
  text-align: center;
  border-bottom: 1px solid hsla(0,0%,50.2%,.5);
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  margin-bottom: 10px
}

.game-overlay > h3 > *:first-child {
  padding: 0 7px;
}

.score {
  color: rgb(255, 103, 64);
}

.game-overlay .logo {
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-overlay .logo span {
  padding-left: 8px;
  font-size: 0.98rem;
  transform: translateY(2px);
}

.roundscore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roundscore > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.roundscore > span:first-child {
  border-right: 1px solid hsla(0,0%,50.2%,.5);
}

.roundscore > span > span:first-child {
  opacity: 0.3;
  font-size: 0.8rem;
}

.dim {
  opacity: 0.3;
}

.loading-bar {
  padding: 7px 80px;
  margin-top: 10px;
  border-radius: 3px;
  background-color:rgb(255, 103, 64);
  animation: glow 2s ease infinite;
}

@keyframes glow {
	0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.loading-bar > h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previews {
  margin-top: 30px;
}

.previews {
  max-width: 1100px;
  margin-bottom: 50px;
}

.preview {
  display: inline-flex;
  position: relative;
  height: 316px;
  width: 200px;
  overflow: hidden;
  margin: 0.6rem;
  background-color: #2c2c2c;
  border-radius: 0.25rem;
  transition: all .1s ease-out;
  box-shadow: white;
}

.preview img {
  object-fit: cover;
  object-position: center center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.preview a {
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  background-color: #2c2c2ce0;
  color:rgb(255, 103, 64);
  width: 200px;
  transition: all .2s ease;
  z-index: -1;
  top: -100px;
}

.preview svg {
  width: 1rem;
  height: 1rem;
  color: white;
  transform: translateY(1px);
}

.preview img:hover + a, .preview a:hover {
  z-index: 999;
  top: 0px;
}

@media only screen and (max-width: 912px) {
  .game {
    flex-direction: column-reverse;
  }

  .game-overlay {
    width: 100%;
  }

  .manga-page-div {
    width: 100%;
    overflow: auto;
  }
}